<div class='span12 clearfix'>
  Range:
  <input type="text" id="custom-range"/>
  Education:
  <input type="text" id="education-range"/>

  <input type="text" id="date"/>

  <input type="text" id="bdate"/>
  <input type="text" id="bdateMonth"/>
  <input type="text" id="bdateMonthYear"/>

  <div class="panel panel-default">
    <div class="panel-heading"> Member Panel</div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li role="presentation">
          <%= link_to('Add Member', new_member_path()) %>
        </li>
        <li role="presentation">
          <%= link_to("All Members", members_path()) %>
        </li>
        <li class="disabled" role="presentation">
          <a href="#">Disabled link</a>
        </li>
      </ul>
    </div>
  </div>
  <div id='pdf'>
    <div class='pdf-wrapper clearfix'>
      <div class='avatar clearfix'>
        <img src="<%= Rails.root.join('app', 'assets', 'images', 'ui-icons_222222_256x240.png') %>" width='250' />
      </div>
      <div class='clear'></div>
      What’s great about this solution is how well it lends itself to testing.
      By using the pdf-reader gem, we can convert the renderred PDF into a string and assert that the proper content is
      included.
      <span class='last-section'> So a couple example tests (using Rspec) might look something like this: </span>
      <span class="glyphicon glyphicon-remove remove-item"></span>
      <form action='/'>
        <ul>
          <li>
            <span> Name: </span> <input type="text" class='input'/>
          </li>
          <li>
            <span> Roll: </span> <input type="text" class='input'>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <a href="javascript:void(0);" id="generate-pdf" class='btn btn-default'> Generate </a>
</div>
<script type='text/javascript'>
    $(function () {
        $("#date").datepicker();
        $("#bdate").bdatepicker();

        $("#bdateMonth").bdatepicker({
            changeMonth: true
        });

        $("#bdateMonthYear").bdatepicker({
            changeYear: true,
            changeMonth: true,
            startYear: 1988
        });
    });

    $.bdatepicker.setDefaults({
        monthNames: ["জানুয়ারী", "ফেব্রুয়ারি", "মার্চ", "এপ্রিল", "মে", "জুন", "জুলাই", "আগস্ট", "সেপ্টেম্বর", "অক্টোবর", "নভেম্বর", "ডিসেম্বর"],
        prevText: "পূর্ববর্তী ",
        nextText: "পরবর্তী ",
        numbers: {
            0: '০',
            1: '১',
            2: '২',
            3: '৩',
            4: '৪',
            5: '৫',
            6: '৬',
            7: '৭',
            8: '৮',
            9: '৯'
        },
        firstDay: 0,
        dayNames: ["রবিবার", "সোমবার", "মঙ্গলবার", "বুধবার", "বৃহস্পতিবার", "শুক্রবার", "শনিবার"],
        dayNamesShort: ["রবি ", "সোম ", "মঙ্গল ", "বূধ ", "বৃহ ", "শুক্র ", "শনি "],
        dayNamesMin: ["রবি ", "সোম ", "মঙ্গল ", "বূধ ", "বৃহ ", "শুক্র ", "শনি "]
    });

    $("#generate-pdf").click(function () {
        $.ajax({
            url: "<%= generate_pdf_path() %>",
            type: 'get',
            data: {html: $('#pdf').html()},
            success: function () {
                alert("Success :)");
            },
            error: function (e) {
                console.log(e);
            }
        })
    });

        $(".remove-item").click(function() {
           $('.last-section').remove();
        });

</script>